<div class="container">
    <div class="row" style="margin-top: 220px;">
        <div class="offset-md-3 col-md-6">
            <div class="card text-center p-4 shadow">
                <div class="card-body">
                    <h4 class="card-title p-1 text-info">Face Mask Detection</h4>
                    <p class="card-text text-muted"><i>Face mask detection feature uses visible stream from the camera
                            combined
                            with
                            AI techniques to detect people wearing and not wearing face masks. A user-friendly
                            interface allows monitoring people using the system.</i></p>
                    <a routerLink="/demo" class="btn btn-outline-info btn-block">Demo of our Project</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 250px 0px">
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-header text-center">
                    Guide
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Dr. K.Dasaradh Ramaiah ( MTech PhD )</li>
                </ul>
            </div>
            <div class="card shadow mt-5">
                <div class="card-header text-center">
                    Controller
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Dr. K.Durga Prasad ( MTech PhD )</li>
                </ul>
            </div>
        </div>
        <div class="offset-md-2 col-md-5">
            <div class="card shadow">
                <div class="card-header text-center">
                    Our Team
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">A. Likhith ( 17211A1201 )</li>
                    <li class="list-group-item">Ch. Rithvik ( 17211A1015 )</li>
                    <li class="list-group-item">K. Manish Reddy ( 17211A1256 )</li>
                    <li class="list-group-item">M. Vishnuvardhan ( 17211A1259 )</li>
                </ul>
            </div>
        </div>
    </div>
</div>